*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  display: flex;
  align-items: center;
  height: 90vh;
}

.app {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 20px;
}

.folder-list {
  margin-bottom: 20px;
}

.folder-item {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.folder-item.selected {
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
}
.folder-item.selected:hover {
  background-color: #3498db;
  color: #fff;
}
.delete-add-folder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-folder{
  margin-right: 10px;
  color: red;
}
.add-folder {
  display: flex;
  margin-top: 20px;
}

.add-folder input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-folder button {
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.notes-container {
  margin-bottom: 20px;
}

.note-list {
  margin-top: 10px;
}

.note-item {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-note {
  margin-top: 20px;
}

.add-note input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-note button {
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.flex-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  align-items: flex-start;
}
.add-note{
  display: flex;
}